@media only screen and (max-width: 576px) {
    .slideImageWrapper div.slideimg {
        height: 50vw;
        min-height: 180px;
        max-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    header.headerWrapper .functionBox {
        flex-flow: column;
        align-items: end;
    }
    .navbar-nav > li {
        width: unset;
        text-align: unset;
    }
    .navbar-nav > li:hover {
        border-bottom: unset;
    }
    .contentFlexWrap {
        flex-flow: column;
    }
    .flexItem {
        margin-bottom: 30px;
    }
    .pieChartBox .description {
        margin-top: 30px;
    }
    .pieChartBox {
        flex-flow: column-reverse;
    }
    .pieChartBox .chart {
        width: unset;
    }
    #pieChart_loader .description {
        padding-left: 0px;
    }
    .horizontalScrollInner, #horizontalScrollBg, .horizontalScrollDraggableList, .horizontalScrollDraggable, .horizontalScrollDraggableList > .dragItem {
        height: auto !important;
        position: static !important;
    }
    #horizontalScrollBg, .contentWrap.achievementWrapper {
        width: 100% !important;
    }
    .horizontalScrollInner:after {
        display: none !important;
    }
    .horizontalScrollInner {
        display: flex;
        flex-flow: column-reverse;
        padding-top: 30px !important;
    }
    #achievementDragList {
        flex-flow: column;
    }
    .horizontalScrollDraggableList > .dragItem {
        margin: 20px !important;
        width: 100%;
    }
    li.dragItem.hoverShowBtn .hoverShowContent {
        display: block !important;
    }
    #register_box {
        margin-right: 20px;
        margin-left: 20px;
    }
    #modalSignin {
        width: calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }
    .news_box {
        min-width: unset !important;
    }
    .rwd_table {
        border: 0;
    }

    .rwd_table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        background-color: #c3b893;
    }

    .rwd_table tr {
        display: block;
        border: 1px solid #c3b893;
        border-radius: 5px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .rwd_table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
        padding: 15px;
    }

    .rwd_table td::before {
        content: attr(data-label);
        float: left;
        color: #c3b893;
        font-weight: bold;
    }

    .rwd_table td:last-child {
        border-bottom: 0;
    }
}