body {
    font-family: 'Arial', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/*---[start] Main Layout---*/
.mainContainer {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
section.contentWrapper {
    flex: 1 1 auto;
    background: #ffffff;
}
footer.footerWrapper {
    background: #007fe0;
    color: white;
    padding: 15px 0;
    margin: 0px;
    text-align: center;
}
header.headerWrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.contentWrapper .contentSection {
    padding: 60px 0px;
}
.contentWrapper .contentSection .contentFlexWrap, .contentWrapper .contentSection .contentWrap {
    max-width: 960px;
    margin: auto;
}
.contentSection.grayBk {
    background-color: #f7f7f7;
}
/*---[end] Main Layout---*/

/*---[start] Header Block---*/
header.headerWrapper .companyIcon {
    line-height: 0;
}
header.headerWrapper .companyIcon img {
    max-width: 250px;
    width: 100%;
}
header.headerWrapper .functionBox {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}
.functionBox > .btn {
    margin: 0 5px;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 5px 5px 0 0;
}
.functionBox > .btn > svg {
    height: 1.3em;
}
.functionBox > .btn > span {
    display: none;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
/*hover show text
.functionBox > .btn:hover > span, .functionBox > .btn:active > span {
    display: inline-block;
    transition: all 400ms ease-out;
}*/

.functionBox > .btn.langBtn {
    position: relative;
}
.langOptionPannel {
    display:none;
    position: absolute;
    top: calc(1.5em + 6px + 6px); /*langBtn Text Height + padding top and bottom*/
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1000;
}
.btn.langBtn:hover, .btn.langBtn:active, .langOptionPannel {
    background: #0067b3;
    color: white;
}
.btn.langBtn:hover .langOptionPannel, .btn.langBtn:active .langOptionPannel {
    display: block;
}
.langOption {
    padding: 3px 0px;
}
.langOption:hover, .langOption.active {
    background: #0b7fde
}
/*---[end]  Header Block---*/

/*---[start] Content >> Slide Image---*/
.slideImageWrapper div.slideimg {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}
/*設定輪播廣告圖檔區域*/
.slideImageWrapper div.slide1 {
    background-image: url("https://dummyimage.com/2000x400/e5e4df/000000.png&text=ad1");
}
.slideImageWrapper div.slide2 {
    background-image: url("https://dummyimage.com/2000x400/a29c7a/ffffff.png&text=ad2");
}
.slideImageWrapper div.slide3 {
    background-image: url("https://dummyimage.com/2000x400/28251c/ffffff.png&text=ad3");
}
/*mobile size*/
@media all and (max-width: 480px) {
    .slideImageWrapper div.slideimg {
        height: 50vw;
        min-height: 180px;
        max-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}
/*---[end] Content >> Slide Image---*/


/*---[start] Content >> Bulletin---*/
.contentFlexWrap {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
}
.contentFlexWrap > div {
    flex: 1 1 auto;
    min-width: 150px;
    min-height: 140px;
    margin: 5px 10px;
    border: 1px solid #c3b893;
    text-align: center;
    padding: 15px 20px;
}
.contentSection .title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
}
.contentSection .title.bkline {
    position: relative;
    top: calc(-0.5em - 20px);
    overflow: hidden;
    background: white;
    display: inline-block;
}
.contentSection.grayBk .title.bkline {
    background: #f7f7f7;
}
/*---[end] Content >> Bulletin---*/

/*---[start] Content >> Statistic---*/
/*---[end] Content >> Statistic---*/

/*---[start] Content >> Achievement---*/
.horizontalScrollWrap {
    position: relative;
}
.horizontalScrollInner {
    padding-top: 80px;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.horizontalScrollBg {
    padding-top: 80px;
    height: 350px;
    position: absolute;
    z-index: 0;
    width: 120vw;
    left: -5vw;
    top: 0;
    background-size: cover;
    background-position: left center;
    background-image: url('https://dummyimage.com/2424x574/d9f0ff/ffffff&text=big');
}
.horizontalScrollDraggable {
    position: absolute;
    z-index: 20;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 120vw;
    left: -20vw;
    min-height: 100px;
    background: #ffffff57;
}
.contentWrap.achievementWrapper {
    position: relative;
}
/*---[end] Content >> Achievement---*/