body {
    font-family: 'Arial', '微軟正黑體', 'Microsoft JhengHei', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/*---[start] Main Layout---*/
.mainContainer {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}
section.contentWrapper {
    flex: 1 1 auto;
    background: #ffffff;
}
footer.footerWrapper {
    background: #007fe0;
    color: white;
    padding: 15px 0;
    margin: 0px;
    text-align: center;
}
header.headerWrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.contentWrapper .contentSection {
    padding: 60px 0px;
}
.contentWrapper .contentSection .contentFlexWrap, .contentWrapper .contentSection .contentWrap {
    max-width: 960px;
    margin: auto;
}
.contentSection.grayBk {
    background-color: #f7f7f7;
}
/*---[end] Main Layout---*/

/*---[start] Header Block---*/
header.headerWrapper .companyIcon {
    line-height: 0;
}
header.headerWrapper .companyIcon img {
    max-width: 250px;
    width: 100%;
}
header.headerWrapper .functionBox {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}
.functionBox > .btn > svg {
    height: 1.5em;
}
.functionBox > .btn > span {
    display: none;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
.functionBox > .btn.langBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.functionBox > .langBtn > span {
    cursor: pointer;
    font-size: 18px;
    padding: 20px;
}
.functionBox > div.menuHover:hover {
    border-bottom: 3px solid #025da3;
}
.langOptionPannel {
    display:none;
    position: absolute;
    width: 100px;
    top: calc(2.6em + 6px + 6px); /*langBtn Text Height + padding top and bottom*/
    /* left: 0; */
    right: 0;
    text-align: center;
    z-index: 1000;
}
.btn.langBtn:hover, .btn.langBtn:active, .langOptionPannel {
    background: #0067b3;
    color: white;
}
.btn.langBtn:hover .langOptionPannel, .btn.langBtn:active .langOptionPannel {
    display: block;
}
.langOption {
    padding: 3px 0px;
}
.langOption:hover, .langOption.active {
    background: #0b7fde
}
/*---[end]  Header Block---*/

/*---[start] Content >> Slide Image---*/
.slideImageWrapper div.slideimg {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}
/*設定輪播廣告圖檔區域*/
.slideImageWrapper div.slide1 {
    background-image: url("https://dummyimage.com/2000x400/e5e4df/000000.png&text=ad1");
}
.slideImageWrapper div.slide2 {
    background-image: url("https://dummyimage.com/2000x400/a29c7a/ffffff.png&text=ad2");
}
.slideImageWrapper div.slide3 {
    background-image: url("https://dummyimage.com/2000x400/28251c/ffffff.png&text=ad3");
}

/*mobile size*/
@media only screen and (max-width: 600px) {
    .slideImageWrapper div.slideimg {
        height: 50vw;
        min-height: 180px;
        max-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    header.headerWrapper .functionBox {
        flex-flow: column;
        align-items: end;
    }
}
/*---[end] Content >> Slide Image---*/


/*---[start] Content >> Bulletin---*/
.contentFlexWrap {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
}
.flexItem {
    flex: 1 1 auto;
    min-width: 150px;
    min-height: 140px;
    margin: 5px 10px;
    border: 1px solid #c3b893;
    text-align: center;
    padding: 15px 20px;
}
.contentSection .title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 20px;
    text-align: center;
}
.contentSection .title.bkline {
    position: relative;
    top: calc(-0.5em - 20px);
    overflow: hidden;
    background: white;
    display: inline-block;
}
.contentSection.grayBk .title.bkline {
    background: #f7f7f7;
}
@media only screen and (max-width: 600px) {
    .contentFlexWrap {
        flex-flow: column;
    }
    .flexItem {
        margin-bottom: 30px;
    }
    .pieChartBox .description {
        margin-top: 30px;
    }
}
/*---[end] Content >> Bulletin---*/

/*---[start] Content >> Statistic---*/
.pieChartBox {
    display: flex; 
    flex-flow: row;
    width: 100%;
}
#pieChart_loader .description {
    padding-left: 50px;
}
.pieChartBox .description {
    flex: 1;
    text-align: left;
    padding-left: 10px;
}
.description .baseDate {
    font-size: 14px;
    color: #b6b6b6;
}
.description .totalStock {
    margin-right: 20px;
    font-weight: bold;
}
.description .totalStockNumber {
    color: #bc935b;
    font-size: 32px;
}
.description .stockData {
    margin-right: 20px;
}
.stockHolderTable td {
    border-bottom-width: 0px !important;
    padding: 10px;
}
.pieChartBox .chart {
    width: 400px;
}
@media only screen and (max-width: 600px) {
    .pieChartBox {
        flex-flow: column-reverse;
    }
    .pieChartBox .chart {
        width: unset;
    }
    #pieChart_loader .description {
        padding-left: 0px;
    }
}
/*---[end] Content >> Statistic---*/

/*---[start] Content >> Achievement---*/
.horizontalScrollWrap, .contentWrap.achievementWrapper {
    position: relative;
}
.horizontalScrollInner {
    padding-top: 80px;
    height: 350px;
    position: relative;
    overflow: hidden;
}
#horizontalScrollBg {
    padding-top: 80px;
    height: 350px;
    position: absolute;
    z-index: 0;
    width: 120%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: left center;
    background-image: url('https://dummyimage.com/2424x574/d9f0ff/ffffff&text=big');
}
.horizontalScrollDraggable {
    position: absolute;
    left: 0;
}
.horizontalScrollDraggableList {
    height: 350px;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: #ffffff57;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab
}
.horizontalScrollDraggableList > .dragItem {
    min-width: 190px;
    padding: 10px 0;
    border-left: 1px solid #bc935b;
    position: relative;
    overflow: hidden;
}
.horizontalScrollDraggableList > .dragItem:nth-child(3n+1) {
    top: 0;
}
.horizontalScrollDraggableList > .dragItem:nth-child(3n+2) {
    top: -40px;
}
.horizontalScrollDraggableList > .dragItem:nth-child(3n) {
    top: 30px;
}
.horizontalScrollInner:after {
    content: '\f337';
    width: 80px;
    font-family: 'FontAwesome';
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
    z-index: 1;
    border-radius: 40px 40px 0 0;
    background-color: #9e9e9e29;
    transform-origin: bottom;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: center;
    font-size: 26px;
    color: #bc935b;
}
@media only screen and (max-width: 600px) {
    .horizontalScrollInner, #horizontalScrollBg, .horizontalScrollDraggableList, .horizontalScrollDraggable, .horizontalScrollDraggableList > .dragItem {
        height: auto !important;
        position: static !important;
    }
    #horizontalScrollBg, .contentWrap.achievementWrapper {
        width: 100% !important;
    }
    .horizontalScrollInner:after {
        display: none !important;
    }
    .horizontalScrollInner {
        display: flex;
        flex-flow: column-reverse;
        padding-top: 30px !important;
    }
    #achievementDragList {
        flex-flow: column;
    }
    .horizontalScrollDraggableList > .dragItem {
        margin: 20px !important;
        width: 100%;
    }
}
/*---[end] Content >> Achievement---*/

/*---Go to Top---*/
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 15px;
    bottom: 30px;
    background: #000000;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
    opacity: 0.5;
}
  
.back-to-top svg {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
}

input.error { 
    border: 1px solid #FF0000; 
}
label.error {
    color: #FF0000;
}
.iLegend {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
}
.tar {
    text-align: right;
}