body {
    background-color: #EEEEEE;
    font-size: 16px;
}
.gamelive_container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    color: #06283D;
    padding-bottom: 50px;
}
.gamelive_container .font_color_red {
    color: #FF0000;
}
.gamelive_container .font_color_light_blue {
    color: #47B5FF;
}
.gamelive_container .font_color_dark_blue {
    color: #06283D;
}
.gamelive_container .font_bold {
    font-weight: bold;
}
.gamelive_container .d-flex {
    display: flex;
}
.gamelive_container .flex-row {
    flex-direction: row;
}
.gamelive_container .flex-column {
    flex-direction: column;
}
.gamelive_container .flex-grow-1 {
    flex-grow: 1; 
}
.gamelive_container .flex-grow-2 {
    flex-grow: 2;
}
.gamelive_container .justify-content-start {
    justify-content: flex-start;
}
.gamelive_container .justify-content-center {
    justify-content: center;
}
.gamelive_container .justify-content-end {
    justify-content: flex-end;
}
.gamelive_container .align-center {
    align-items: center;
}
.gamelive_container .flex-wrap {
    flex-wrap: wrap;
}
.gamelive_container .h-350 {
    height: 350px;
}
.gamelive_container .h-300 {
    height: 300px;
}
.gamelive_container .h-200 {
    height: 200px;
}
.gamelive_container .h-410 {
    height: 410px;
}
.gamelive_container .p-1 {
    padding: 10px;
}
.gamelive_container .p-2 {
    padding: 20px;
}
.gamelive_container .m-1 {
    margin: 10px;
}
.gamelive_container .mt-1 {
    margin-top: 10px;
}
.gamelive_container .mt-2 {
    margin-top: 20px;
}
.gamelive_container .w-65-per {
    width: 65%;
}
.gamelive_container .w-35-per {
    width: 35%;
}
.gamelive_container .w-60-per {
    width: 60%;
}
.gamelive_container .w-40-per {
    width: 40%;
}
.gamelive_container #bok_total {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #47B5FF;
    padding: 10px;
    border-radius: 5px;
}
.gamelive_container .bok_title {
    flex-basis: 80px;
	flex-grow: 0;
	flex-shrink: 0;
}
.gamelive_container #box_add_setting_button {
    display: flex;
}
.gamelive_container #box_add_setting_select {
    display: none;
}
.gamelive_container .add_button {
    width: 70px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid #00ABB3;
    color: #FFFFFF;
    background: #00ABB3;
    border-radius: 4px;
}
.gamelive_container .add_button:hover {
    background: #FFFFFF;
    color: #00ABB3;
}
.gamelive_container #add_setting_select {
    min-width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #00ABB3;
    background: #00ABB3;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}
.gamelive_container #add_setting_select:hover {
    background: #FFFFFF;
    color: #256D85;
}
.gamelive_container #box_add_setting {
    margin-top: 20px;
    margin-bottom: 20px;
}
.gamelive_container #box_result {
    width: 70%;
}
.gamelive_container #box_input {
    flex-direction: row;
}
.gamelive_container #box_input_controller {
    width: 30%;
}
.gamelive_container #box_input_left {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
}
.gamelive_container #box_input_center {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.gamelive_container #box_input_right {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.gamelive_container #box_result_1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #F5EDDC;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.gamelive_container #box_result_2 {
    display: none;
}
.gamelive_container #box_tools_result {
    margin-top: 0px;
    height: 100%;
    min-height: 200px;
}
.gamelive_container .btn_submit {
    width: 100%; 
    color: #333; 
    background-color: #ffdf1b;
    border: 1px solid #ffdf1b;
    height: 32px;
    border-radius: 4px;
}
.gamelive_container .btn_submit:hover {
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
}
.gamelive_container .ball_container {
    margin: 5px;
    height: 550px;
    background-color: #EEEEEE;
    border-radius: 10px;
}
.gamelive_container .ball_container2 {
    margin: 5px;
    height: 350px;
    border-radius: 10px;
    background-color: #EEEEEE;
}
.gamelive_container .history_ball {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px; 
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 40%, #FFD384, #FFD384 66%, #9b5050 100%);
    overflow: hidden;
}
.gamelive_container .history_number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    color: #000000;
    margin-top: 7px;
}
.gamelive_container .ball {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 3px; 
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 40%, #FFD384, #FFD384 66%, #9b5050 100%);
    overflow: hidden;
}
.gamelive_container .ball2 {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px; 
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 40%, #FFD384, #FFD384 66%, #9b5050 100%);
    overflow: hidden;
}
.gamelive_container .number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    color: #000000;
    margin-top: 5px;
}

.gamelive_container .table_container {
    overflow-x: auto;
    width: 100%;
    height: 100%;
    /* 20221201 Start */
    max-height: 270px;
    /* 20221201 End */
    color: #ffffff;
}
.gamelive_container .table_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #2894FF;
}
.gamelive_container .table_header_color {
    background-color: #C4E1FF;
    color: #000000;
}
.gamelive_container .table_row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.gamelive_container .table_row_color {
    background-color: #ECF5FF;
    color: #000000;
}
.gamelive_container .cancel_button {
    width: 60px;
    background-color: #E14D2A;
    border: 1px solid #E14D2A;
    border-radius: 5px;
    color: #EEEEEE;
}
.gamelive_container .cancel_button:hover {
    background-color: #FD841F;
    border: 1px solid #FD841F;
}
.gamelive_container .column_number {
    width: 35%;
    text-align: center;
    padding: 10px;
    margin: 1px;
}
.gamelive_container .column_time {
    width: 20%;
    text-align: center;
    padding: 10px;
    margin: 1px;
}
.gamelive_container .column_unit {
    width: 20%;
    text-align: center;
    padding: 10px;
    margin: 1px;
}
.gamelive_container .column_action {
    width: 25%;
    text-align: center;
    padding: 10px;
    margin: 1px;
}
.gamelive_container .table_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #C4E1FF;
}
.gamelive_container .table_container::-webkit-scrollbar {
  width: 13px;
  background-color: black;
}
.gamelive_container .table_container::-webkit-scrollbar-thumb {
  background-color: #84C1FF;
}
.gamelive_container .area_status {
    margin: 0 auto;
    width: 180px;
    min-height: 100px;
    border-radius: 5px;
    background-color: #FD841F;
    border-color: 1px solod #FD841F;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 20221201 Start */
.gamelive_container #box_three_balls_block {
    width: 65%;
}
.gamelive_container .ball_box {
    height: 100%; 
    padding-right: 10px;
}
.gamelive_container .flex_1 {
    flex: 1;
}
.gamelive_container .balls_box {
    height: 410px;
}
/* 20221201 End */