body {
    background-color: #EEEEEE;
    font-size: 16px;
}
.gamelive_container {
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #585858;
    color: #FFFFFF;
}
.gamelive_container .font_color_yellow {
    color: rgb(255, 223, 27);
}
.gamelive_container .font_color_green {
    color: rgba(40,255,187,1);
}
.gamelive_container .font_bold {
    font-weight: bold;
}
.gamelive_container .d-flex {
    display: flex;
}
.gamelive_container .flex-row {
    flex-direction: row;
}
.gamelive_container .flex-column {
    flex-direction: column;
}
.gamelive_container .flex-grow-1 {
    flex-grow: 1;
}
.gamelive_container .flex-grow-2 {
    flex-grow: 2;
}
.gamelive_container .justify-content-start {
    justify-content: flex-start;
}
.gamelive_container .justify-content-center {
    justify-content: center;
}
.gamelive_container .justify-content-end {
    justify-content: flex-end;
}
.gamelive_container .align-center {
    align-items: center;
}
.gamelive_container .flex-wrap {
    flex-wrap: wrap;
}
.gamelive_container .h-350 {
    height: 350px;
}
.gamelive_container .h-300 {
    height: 300px;
}
.gamelive_container .h-200 {
    height: 200px;
}
.gamelive_container .p-1 {
    padding: 10px;
}
.gamelive_container .p-2 {
    padding: 20px;
}
.gamelive_container .m-1 {
    margin: 10px;
}
.gamelive_container .w-65-per {
    width: 65%;
}
.gamelive_container .w-35-per {
    width: 35%;
}
.gamelive_container .w-60-per {
    width: 60%;
}
.gamelive_container .w-40-per {
    width: 40%;
}
.gamelive_container #bok_total {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #585858;
}
.gamelive_container .bok_title {
    flex-basis: 80px;
	flex-grow: 0;
	flex-shrink: 0;
}
.gamelive_container #box_add_setting_button {
    display: flex;
}
.gamelive_container #box_add_setting_select {
    display: none;
}
.gamelive_container .add_button {
    width: 70px;
    height: 32px;
    margin-right: 10px;
    border: 1px solid #1cb585;
    color: #FFFFFF;
    background: rgba(40,255,187,0.35);
    border-radius: 4px;
}
.gamelive_container .add_button:hover {
    background: rgba(40,255,187,0.7);
}
.gamelive_container #add_setting_select {
    min-width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #1cb585;
    background: rgba(40,255,187,0.35);
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
}
.gamelive_container #add_setting_select:hover {
    background: rgba(40,255,187,0.7);
}
.gamelive_container #box_add_setting {
    margin-top: 20px;
    margin-bottom: 20px;
}
.gamelive_container #box_result {
    width: 70%;
}
.gamelive_container #box_input {
    flex-direction: row;
}
.gamelive_container #box_input_controller {
    width: 30%;
}
.gamelive_container #box_input_left {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0px;
}
.gamelive_container #box_input_center {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.gamelive_container #box_input_right {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.gamelive_container #box_result_1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #7B7B7B;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.gamelive_container #box_result_2 {
    display: none;
}
.gamelive_container #box_tools_result {
    margin-top: 0px;
    height: 100%;
    min-height: 200px;
}
.gamelive_container .btn_submit {
    width: 100%; 
    color: #333; 
    background-color: #ffdf1b;
    border: 1px solid #ffdf1b;
    height: 32px;
    border-radius: 4px;
}
.gamelive_container .btn_submit:hover {
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
}
.gamelive_container .ball_container {
    margin: 5px;
    height: 430px;
    /* border: 1px solid black; */
    background-color: #F5EDDC;
    border-radius: 10px;
}
.gamelive_container .history_ball {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px; 
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
    overflow: hidden;
}
.gamelive_container .history_number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    color: #FA9494;
    margin-top: 7px;
}
.gamelive_container .ball {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 3px; 
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
    overflow: hidden;
}
.gamelive_container .number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    color: #FA9494;
    margin-top: 5px;
}

.gamelive_container .table_container {
    overflow-x: auto;
    width: 100%;
    height: 100%;
    max-height: 200px;
    color: #ffffff;
}
.gamelive_container .table_header {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.gamelive_container .table_header_color {
    background-color: #ffc0cb;
    color: #bb6573;
}
.gamelive_container .table_row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.gamelive_container .table_row_color {
    background-color: #ece1e1;
    color: #8d6161;
}
.gamelive_container .cancel_button {
    width: 50px;
    background-color: #E14D2A;
    border: 1px solid #E14D2A;
    border-radius: 5px;
    color: #EEEEEE;
}
.gamelive_container .cancel_button:hover {
    background-color: #FD841F;
    border: 1px solid #FD841F;
}
.gamelive_container .column_number {
    width: 35%;
    text-align: center;
    padding: 10px;
    margin: 1px;
}
.gamelive_container .column_time {
    width: 25%;
    text-align: center;
    padding: 10px;
    margin: 1px;
}
.gamelive_container .column_unit {
    width: 20%;
    text-align: center;
    padding: 10px;
    margin: 1px;
}
.gamelive_container .column_action {
    width: 20%;
    text-align: center;
    padding: 10px;
    margin: 1px;
}
.gamelive_container .table_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffc0cb;
}
.gamelive_container .table_container::-webkit-scrollbar {
  width: 13px;
  background-color: black;
}
.gamelive_container .table_container::-webkit-scrollbar-thumb {
  background-color: #bb6573;
}