body {
    background-color: #EEEEEE;
    font-size: 16px;
}
.gamelive_container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
.gamelive_container .d-flex {
    display: flex;
}
.gamelive_container .flex-row {
    flex-direction: row;
}
.gamelive_container .flex-column {
    flex-direction: column;
}
.gamelive_container .flex-grow-1 {
    flex-grow: 1;
}
.gamelive_container .flex-grow-2 {
    flex-grow: 2;
}
.gamelive_container .justify-content-start {
    justify-content: flex-start;
}
.gamelive_container .justify-content-center {
    justify-content: center;
}
.gamelive_container .justify-content-end {
    justify-content: flex-end;
}
.gamelive_container .align-center {
    align-items: center;
}
.gamelive_container .h-300 {
    height: 300px;
}
.gamelive_container .h-200 {
    height: 200px;
}
.gamelive_container .p-1 {
    padding: 10px;
}
.gamelive_container .m-1 {
    margin: 10px;
}
.gamelive_container .w-65-per {
    width: 65%;
}
.gamelive_container .w-35-per {
    width: 35%;
}
.gamelive_container #bok_total {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #DBE2EF;
}
.bok_title {
    width: 80px;
}
#box_add_setting_button {
    display: flex;
}
#box_add_setting_select {
    display: none;
}
.add_button {
    width: 70px;
    margin-right: 10px;
}
#add_setting_select {
    min-width: 100%;
    text-align: center;
    padding: 10px;
    border: 1px solid #3F72AF;
    border-radius: 5px;
    cursor: pointer;
}
#box_add_setting {
    margin-top: 20px;
    margin-bottom: 20px;
}