@media only screen and (max-width: 576px) {
    body {
        font-size: 14px;
    }
    /* 20221201 Start */
    /* .gamelive_container #box_three_balls_block {
        display: none;
    } */
    /* 20221201 End */
    .gamelive_container #box_live_video {
        width: 100%;
    }
    .gamelive_container #box_last_number {
        display: none;
    }
    .gamelive_container #box_add_setting_button {
        display: none;
    }
    .gamelive_container #box_add_setting_select {
        display: unset;
    }
    .gamelive_container #box_tools {
        flex-direction: column;
    }
    .gamelive_container #box_tools_result {
        width: 100%;
    }
    .gamelive_container #box_result {
        width: 100%;
    }
    .gamelive_container #box_input {
        flex-direction: column;
    }
    .gamelive_container #box_input_controller {
        width: 100%;
    }
    .gamelive_container #box_input_controller {
        flex-direction: row;
    }
    .gamelive_container #box_tools_block {
        width: 100%;
    }
    .gamelive_container #box_input_left {
        width: 33.3%;
        padding-right: 5px;
    }
    .gamelive_container #box_input_center {
        width: 33.3%;
    }
    .gamelive_container #box_input_right {
        width: 33.3%;
        padding-left: 5px;
    }
    .gamelive_container #box_result_1 {
        display: none;
    }
    .gamelive_container #box_result_2 {
        display: flex;
        flex-direction: row;
    }
    .gamelive_container #box_tools_result {
        margin-top: 20px;
    }
    .gamelive_container .add_button {
        margin-bottom: 10px;
    }
    .gamelive_container #live_video {
        align-items: center;
    }
    .gamelive_container #box_tools_result {
        min-height: 300px;
    }
    .gamelive_container .table_container {
        max-height: 300px;
    }
    /* 20221202 Start */
    /* .gamelive_container #timer_box {
        display: none;
    } */
    .gamelive_container .flex_column_reserve {
        flex-direction: column-reverse !important;
    }
    .gamelive_container #timer_box {
        margin-bottom: 10px;
    }
    /* 20221202 End */
    /* 20221201 Start */
    .gamelive_container {
        padding: 10px;
    }
    .gamelive_container #live_video {
        display: none;
    }
    .gamelive_container #box_current_number {
        display: none;
    }
    .gamelive_container #box_three_balls_block {
        width: 100%;
    }
    .gamelive_container .flex_column {
        flex-direction: column;
    }
    .gamelive_container .area_status {
        width: 90%;
    }
    .gamelive_container .ball_box {
        padding-right: 0px;
    }
    .gamelive_container .ball_container {
        margin: 5px;
        height: 370px;
        background-color: #EEEEEE;
        border-radius: 10px;
    }
    .gamelive_container .ball {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 2px; 
        border-radius: 50%;
    }
    .gamelive_container .number {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 12px;
        color: #000000;
        margin-top: 2px;
    }
    .gamelive_container .balls_box {
        height: 250px;
    }
    /* 20221201 End */
}