body {
    background-color: #F0F0F0;
}
.nav-item .active {
    background-color: #5CADAD !important;
}
.lottery_container {
    width: 900px;
    margin: 50px auto;
    padding: 0px;
}
.nav-item {
    width: 150px;
}
.nav-item button {
    width: 100%;
}
.tab-content {
    padding: 15px;
}
.functionBox > .btn {
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}
.tab-content {
    background-color: #FFFFFF;
}
.ball_container {
    margin: 5px;
    height: 490px;
    /* border: 1px solid black; */
    background-color: #F5EDDC;
    border-radius: 10px;
}
.history_ball {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px; 
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
    overflow: hidden;
}
.history_number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    color: #FA9494;
    margin-top: 7px;
}
.ball {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 3px; 
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
    overflow: hidden;
    cursor: pointer;
}
.ball:hover, .ball.active {
    background: radial-gradient(circle at 50% 40%, #FFE153, #FFDC35 66%, #9b5050 100%);
}
.number {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    color: #FA9494;
    margin-top: 7px;
}
